body 
{
    color: #000000;
    background-color:#77BA99;
}
h1
{
    
    text-align:center;
    color: #FFFFFF;
    font-size: 125%;
    font-style:bold;
    padding: 10px;

}

footer
{
  margin-top:30%;
  text-align:center;
}

br
{
padding:10px;
}
